<!-- {% extends 'main/base.html' %}

{% block title %}Delete Investment Fund{% endblock %}

{% block content %}
<h1>Investment Funds</h1>
<ul>
    {% for fund in funds %}
    <li>
        <a href="{% url 'investment_fund:investment_fund_detail' fund.pk %}">{{ fund.name }}</a>
        <a href="{% url 'investment_fund:update_investment_fund' fund.pk %}">Edit</a>
        <a href="{% url 'investment_fund:delete_investment_fund' fund.pk %}">Delete</a>
    </li>
    {% endfor %}
</ul>
<a href="{% url 'investment_fund:create_investment_fund' %}">Create New Fund</a>
{% endblock %} -->