{% extends 'main/base.html' %}
{% load static %}

{% block title %}<title>محفظتي</title>{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="wallet-container p-4 bg-white shadow rounded">
        <h2 class="text-center mb-4" style="color: #761305;">محفظتي</h2>
        <hr>
        <p class="text-center"><strong>رصيد المحفظة:</strong> {{ wallet.balance }} ريال</p>
        <p class="text-center"><strong>آخر تحديث:</strong> {{ wallet.last_updated|date:"Y-m-d H:i:s" }}</p>
        <p class="text-center"><strong>تاريخ الإنشاء:</strong> {{ wallet.created_at|date:"Y-m-d H:i:s" }}</p>
        <div class="text-center mt-4">
            <a href="{% url 'main:investor_dashboard_view' %}" class="btn btn-darkgreen">العودة إلى لوحة التحكم</a>
        </div>
    </div>
</div>
{% endblock %}
