{% extends 'main/base.html' %}
{% load static %}

{% block title %}<title>سجل العمليات</title>{% endblock %}
{%block head%}
<style>
    body{
        background-image: url("../../static/images/Background.png");
        background-repeat: no-repeat;
        background-size: cover;
    }
</style>
{%endblock%}
{% block content %}
<div class="container pt-5 mt-5">

    
    <!-- Transaction History Section -->
    <div class="mt-5">
        <h3 class="text-center mb-4" style="color: #761305;">سجل العمليات</h3>
        <div class="table-responsive">
            <table class="table table-bordered table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th>التاريخ</th>
                        <th>نوع العملية</th>
                        <th>المبلغ</th>
                        <th>الوصف</th>
                    </tr>
                </thead>
                <tbody>
                    {% for transaction in transactions %}
                    <tr>
                        <td>{{ transaction.created_at|date:"Y-m-d H:i:s" }}</td>
                        <td>{{ transaction.get_transaction_type_display }}</td>
                        <td>{{ transaction.amount }}</td>
                        <td>{{ transaction.description }}</td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="4" class="text-center">لا توجد عمليات حالياً.</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
            <!-- Back Button -->
            <div class="text-center mt-4">
                <a href="{% url 'main:investor_dashboard_view' %}?section=section4" class="btn btn-darkgreen" >العودة إلى لوحة التحكم</a>
            </div>
    
</div>
{% endblock %}
