{% extends 'main/base.html'%}
{%load static%}

{%block title%}<title>نبذة عنا</title>{%endblock%}
{%block content%}
<section class="container-fluid p-0 ">
    <div class="image-section position-relative">
        <div class="dark-overlay"></div>
    </div>

    
    <div class="about-text my-5 text-center rounded-3 shadow mx-3 px-2 py-2">
      <h3 style="color: #761305; font-size: 2rem;">مهمتنا</h3>
      <p style="font-size: 1.1rem; color: #0f2e29;">
        نحن نسعى لتوفير أداة مبتكرة وآمنة للعائلات التي ترغب في إدارة استثماراتها المالية بطريقة مسؤولة وفعالة.
        من خلال منصتنا، يمكن للعائلات اتخاذ قرارات مالية مدروسة لضمان مستقبلهم المالي.
      </p>
      <p style="font-size: 1.1rem; color: #0f2e29;">
        إن رؤيتنا هي تحقيق الاستقلال المالي للعائلات عبر توفير الأدوات اللازمة لإدارة الأموال بذكاء وثقة.
      </p>
    </div>
  

</section>
  
  

  {%endblock%}
