{% extends 'main/base.html'%}
{%load static%}

{%block title%}<title>الرئيسية</title>{%endblock%}
{%block content%}

<div class="carousel-video">
    <video class="w-100" autoplay loop muted>
        <source src="{% static 'videos/introductionvideo.mp4' %}" type="video/mp4">
        Your browser does not support the video tag.
    </video>
    <div class="carousel-caption">
        <h5>رواسي لادارة صناديق العائلة الاستثمارية</h5>
        <p>منصة تسهل عميلة ادارة الصناديق الاستثمارية للعائلة .</p>
    </div>
</div>
<section class="container">
    <div class="section-title text-center mb-5">
      <h2>كيف يعمل Rawasi؟</h2>
    </div>
  
    <div class="how-it-works-description text-center mb-5">
      <h4>
        تهدف Rawasi إلى تبسيط عملية الاستثمار العائلي ومساعدة العائلات في تحقيق أهدافها المالية بشكل تعاوني.
      </h4>
      <p>
        نحن نوفر لك الأدوات لإدارة محفظتك العائلية بذكاء وفعالية لتحقيق أهدافك المالية معًا.
      </p>
    </div>
  
    <div class="row">
      <div class="col-md-6 mb-4 card-cover">
        <div class="step-number">1</div>
        <div class="step-card shadow-lg p-4 rounded position-relative">
          <h5 class="step-title">إنشاء وإدارة المحفظة العائلية</h5>
          <p class="step-description">
            كقائد عائلة، يمكنك إنشاء المحفظة العائلية وإضافة أموال إلى المحفظة لضمان وجود الأموال الكافية للاستثمار في الفرص المناسبة.
          </p>
        </div>
      </div>
  
      <div class="col-md-6 mb-4 card-cover">
        <div class="step-number">2</div>
        <div class="step-card shadow-lg p-4 rounded position-relative">
          <h5 class="step-title">إضافة فرص استثمار مختارة</h5>
          <p class="step-description">
            يمكنك إضافة الفرص الاستثمارية المُختارة إلى المنصة، حيث يمكن لجميع أعضاء العائلة التصويت عليها ومناقشتها.
          </p>
        </div>
      </div>
    </div>
  
    <div class="row mt-4">
      <div class="col-md-6 mb-4 card-cover">
        <div class="step-number">3</div>
        <div class="step-card shadow-lg p-4 rounded position-relative">
          <h5 class="step-title">التصويت على الفرص الاستثمارية</h5>
          <p class="step-description">
            كعضو مساهم، يمكنك التصويت على الفرص الاستثمارية التي تختارها، مما يؤثر في اتخاذ القرارات الجماعية.
          </p>
        </div>
      </div>
  
      <div class="col-md-6 mb-4 card-cover">
        <div class="step-number">4</div>
        <div class="step-card shadow-lg p-4 rounded position-relative">
          <h5 class="step-title">مراقبة الأداء والمشاركة</h5>
          <p class="step-description">
            يمكنك متابعة أدائك المالي والمشاركة في العديد من الفرص الاستثمارية لتوسيع محفظتك الشخصية وتنمية أموالك.
          </p>
        </div>
      </div>
    </div>
  </section>
  
  
  

    <div class="container-fluid  mt-3">
        <div class="row d-flex justify-content-center pt-2 pb-5">
            <div class="col-md-2 bg-dark">
            </div>
            <div class="col-md-1 featurs-col-color"></div>

            <div class="col-md-3 bg-body-tertiary d-flex flex-column justify-content-center align-items-center gap-3">
                <h1>مميزاتنا</h1>
                <p>تتميز خدماتنا بالاتي: </p>
            </div>
            <div class="cube-container col-md-6 bg-body-tertiary">             
                  <div class="container-cube ">
                    <div class="cube ">
                      <div class="face front  text-white"><i class="fa fa-thumbs-up"></i>  <span class="mt-2">اتمتة العمليات</span></div>
                      <div class="face back text-white"><i class="fa fa-thumbs-up"></i>  <span class="mt-2">الامان</span></div>
                      <div class="face top  text-white"></div>
                      <div class="face right  text-white">
                        
                        <p><i class="fa fa-thumbs-up"></i>  <span class="mt-2">التصويت</span></p>
                      </div>
                      <div class="face left  text-white"><i class="fa fa-thumbs-up"></i>  <span class="mt-2">التحكم الكامل</span></div>
                      <div class="face bottom text-white"></div>
                    </div>
                  </div>
            </div>
    </div>
  </div>

  {%endblock%}
