/* home and base css*/
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: "Noto Sans Arabic", sans-serif;
}



.noto-kufi-arabic-font {
  font-family: "Noto Kufi Arabic", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

nav{
    position: fixed;
    background: linear-gradient(to bottom, rgb(0, 0, 0), transparent); 
    transition: background-color 0.3s ease;
    color: rgb(255, 255, 255) !important; 
  
}
.navbar-brand{
    color: white;
}
.navbar-brand.scrolled{
    color: black;
}

.navbar-toggler{
    border: white 0.7px solid !important;
    padding-top: 0.7rem !important;
    padding-bottom: 0.7rem !important;
  
}
.navbar-toggler.scrolled{
    border: rgb(0, 0, 0) 0.7px solid !important;
}


#navbar-toggler-icon{
    color: white;
}
#navbar-toggler-icon.scrolled{
    color: black;
}

nav.scrolled {
    background:none;
    background-color: white; 
    color: black;
  }
#userlinks{
    color: white !important;
    transition: color ease 0.3s;
}
#userlinks:hover{
    color: #E4b42d!important;
}
#userlinks.scrolled{
    color: black!important;
    transition: color ease 0.3s;

}
#userlinks.scrolled:hover{
    color: #E4b42d!important;
}

main{
    min-height: 80vh;
}
  
.carousel-video {
    position: relative;
    height: 100%;
    
}

.carousel-video video {
    width: 100%;
    height: 100%;
    object-fit: cover;  
}

.carousel-caption {
    position: absolute;
    top: 30%;
    right: 0;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    text-align: center;
    width: 100%;
    z-index: 1;
}

@media (max-width: 768px) {
    .carousel-caption {
        top: 25%;  
        font-size: 14px;
        padding: 0 10px;
    }

    .carousel-video video {
        object-fit: contain;
        height: auto;  
    }
}

@media (max-width: 576px) {
    .carousel-caption h5 {
        font-size: 16px;
    }

    .carousel-caption p {
        font-size: 12px;
    }
} 
.section-title h2 {
    font-weight: bold;
    color: #761305;
  }
  
  .how-it-works-description h4 {
    color: #761305;
    font-size: 1.3rem;
  }
  
  .how-it-works-description p {
    color: #0f2e29;
    font-size: 1.1rem;
  }
  .card-cover{
    position: relative;
  }
  .step-number {
    position: absolute;
    background-color: #faf6ee;
    color: #0f2e29;
    font-size: 2.5rem;
    left: 5%;
    bottom: 60%;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    z-index: 10; 
    transition: transform 0.3s ease, background-color 0.3s ease; 
  }
  .step-card:hover .step-number {
    background-color: #E4b42d; /* Change the background color */
  }
  /* Step card styling */
  .step-card {
    position: relative;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    transition: transform 0.3s ease;
    overflow: hidden;
    margin-top: 40px; /* Adjust margin for positioning */
    background-color: white;
  }
  
  /* Hover effect for the step card */
  .step-card:hover {
    transform: translateY(-10px);
  }
  
  /* Hover effect for step number */
  .step-card:hover .step-number {
    background-color: #e4b42d;
  }
  
  /* Title and description styling */
  .step-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: #761305;
  }
  
  .step-description {
    color: #0f2e29;
    font-size: 1.1rem;
    margin-top: 15px;
  }
  
  /* Responsive styling */
  @media (max-width: 768px) {
    .step-number {
      font-size: 2rem;
      width: 60px;
      height: 60px;

    }
  
    .step-card {
      padding: 15px;
    }
  
    .step-title {
      font-size: 1.3rem;
    }
  
    .step-description {
      font-size: 1rem;
    }
  }
  
  @media (max-width: 576px) {
    .step-number {
      font-size: 1.8rem;
      width: 50px;
      height: 50px;

    }
  
    .step-card {
      padding: 10px;
    }
  
    .step-title {
      font-size: 1.2rem;
    }
  
    .step-description {
      font-size: 0.9rem;
    }
  }
  
  
  
  .featurs{
    background-color: #FAF6EE;
    
  }

  .featur-icon{
    color: #0f2e29;
  }
  .featurs-col-color2{
    background-color: #FAF6EE;
  }
  .featurs-col-color1{
    background-color: #0f2e29;
  }
  .featurs-col-color3{
    background-color: #5d0e04;
  }
  @media screen and (max-width: 600px) {
    .featurs-text{
      padding-bottom: 5rem;
    }
}

  :root {
    --size: 300px;
  }

  .row-cube{
    margin-top: 10rem;
    margin-bottom: 10rem;

  }
  .cube-container {
    display: grid;
    place-content: center;
    height: 30vh;
  }
  /* container */
  .container-cube {
    margin-bottom:1rem;
    perspective: 1000px;
    width: var(--size);
    height: var(--size);
  }
  .cube {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    animation: rotateCube 20s infinite; 
    transition: all 0.65s cubic-bezier(1, -0.75, 0.5, 1.2);
  }
  
  .face {
    position: absolute;
    border: 1px solid #e9e3e349;
    box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.11);
    width: var(--size);
    height: var(--size);
    line-height: var(--size);
    text-align: center;
    font-size: 1.25rem;
    background: linear-gradient(to bottom, #fbf9f5, #FAF6EE);
    opacity: 0.99;
  }
  .cube-text{
    color: #0f2e29;
    padding-left: 1rem;
    padding-right: 1rem;
    font-weight: 300;

  }
  .front {
    transform: translateZ(150px);

  }
  
  .back {
    transform: rotateY(180deg) translateZ(150px);
  }
  
  .top {
    transform: rotateX(90deg) translateZ(150px);
  }
  
  .right {
    transform: rotateY(90deg) translateZ(150px);
  }
  
  .left {
    transform: rotateY(-90deg) translateZ(150px);
  }
  
  .bottom {
    transform: rotateX(-90deg) translateZ(150px);
  }
  
  @keyframes rotateCube {
    0% {
      transform: rotateY(0deg); /* Front face */
    }
    25% {
      transform: rotateY(90deg); /* Right face */
    }
    50% {
      transform: rotateY(180deg); /* Back face */
    }
    75% {
      transform: rotateY(270deg); /* Left face */
    }
    100% {
      transform: rotateY(360deg); /* Back to Front face */
    }
  }
 
  
 
  

  .contact-button {
    position: fixed;
    right: 2rem;
    bottom: 2rem;
    height: 4rem;
    width: 4rem;
    transform: scale(1);
    transition: transform ease-in 0.3s;
    background-color: #761305;
    border: none;
    z-index: 2;

}

.contact-button:hover {
    transform: scale(1.1);  
}
.contact-button-container{
    position: fixed;
    z-index: 2;
    right: 7rem;
    bottom: 1rem;
}
.contact-form{
    position: fixed;
    z-index:3;
    right: 2rem;
    bottom: 2rem;
    background-color: #FAF6EE;
    border: #E4b42d solid 1px;
}

.btn-darkgreen{
    background-color: #0f2e29 !important;
    color: white !important;
}
.btn-darkgreen:hover{
    background-color: #194d45  !important;
    color: white !important;
}
.btn-darkred{
    background-color: #761305;
    color: white;
}
.btn-darkred:hover{
    background-color: #991908;
    color: white;
}
.form-control:focus {
    box-shadow: 0 0 0 0.20rem #1d574e67; 
    border-color: #22665ba9; 
}
.form-select:focus {
    box-shadow: 0 0 0 0.20rem #1d574e67; 
    border-color: #22665ba9; 
}
.btn-close:focus {
    box-shadow: 0 0 0 0.20rem #1d574e67; 
    border-color: #22665ba9; 
}
.footer-link-text{
    color: #761305;
    text-decoration: none;
    transition: color 0.3s ease-in;
}
  .footer-link-text:hover {
    text-decoration: underline; 
  }
.footer-content{
    margin-right: 5rem;
}

/*----- about css ------*/
/* Image with Dark Overlay */

.image-section {
    position: relative;
    background: url('../images/analytics-925379_1280.jpg') no-repeat center center;
    background-size: cover;
    height: 100vh; /* يمكنك تعديل هذه القيمة حسب احتياجك */
  }
  
  .text-shadow {
    text-shadow: 4px 4px 5px rgba(0, 0, 0, 0.757);
  }
  
  .text-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    height: 100%; 
  }



.section-title h2 {
    font-weight: bold;
    color: #761305;
}

.about-text h3 {
    font-weight: bold;
    color: #761305;
 }

.about-text p {
    font-size: 1.1rem;
    color: #0f2e29;
    
}
.team-photo{
    height:10rem;
    border-radius: 10px 10px 0 0;
    object-fit: cover;
}
.social-icon{
    color: #000000;
    font-size: smaller;
    margin-bottom: 5px;
    transition: transform ease 0.3s;
}

.social-icon:hover{
    transform: scale(0.8);
}
.team-name {
    font-size: small;
    font-weight: 600;
}
.service-title{
    font-weight: 600;
}
.sevice-icon1{
  color: #761305;
  transition: transform 0.5s ease ;  
}
.service-card:hover .sevice-icon1{
  transform: rotate(360deg) ; 
}
.sevice-icon2{
  color: #0f2e29;
  transition: transform 0.5s ease ;  

}
.service-card:hover .sevice-icon2{
  transform: rotate(360deg) ; 
}
.sevice-icon3{
  color: #E4b42d;
  font-size: 5rem;
  transition: transform 0.5s ease ;  

}
.service-card:hover .sevice-icon3{
  transform: rotate(360deg) ; 
}
.sevice-icon4 {
  color: #dfd6c4 ;
  transition: transform 0.5s ease ;  
}
.service-card:hover .sevice-icon4{
  transform: rotate(360deg) ; 
}
.service-description{
  text-align: start;
}

.container-team {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-team  .glass {
  position: relative;
  width: 180px;
  height: 200px;
  background: linear-gradient(rgba(74, 74, 74, 0.133), transparent);
  border: 1px solid rgba(48, 48, 48, 0.1);
  box-shadow: 0 25px 25px rgba(30, 30, 30, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  border-radius: 10px;
  margin: 0 -45px;
  backdrop-filter: blur(10px);
  transform: rotate(calc(var(--r) * 1deg));
}

.container-team:hover .glass {
  transform: rotate(0deg);
  margin: 0 10px;
}



.glass .link-content {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  background: rgba(0, 0, 0, 0.05);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #020202;
  text-decoration: none;
}
.container-team .glass img {
  width: 100%;
  height: 50%;
  object-fit: cover;
  fill: #fff;
}


/*----- fund dashboard css ------*/
.dashboard{
    background-color: #f9f6ef;
    min-height: 85vh;
    margin-top: 5rem;
    width: 100%;
}
.dashboard-row{
    min-height: 85vh;
}

.dashboard-side a{
    color: black;
    background-color: none;
    transition: background-color ease 0.3s, color ease 0.3s;
    border-radius: 9px;
    margin-top:0.1rem;
    margin-bottom: 0.1rem;
    text-decoration: none;
    width: 100%;
    display: block;
    padding: 6px;
}
.dashboard-links{
    border-left: 0.5px solid rgb(209, 209, 209) ;
    padding-left: 0.6rem !important;
}
.dashboard-side a:hover{
    background-color: #5d0e04;
    color: rgb(255, 255, 255);
}
.copy-btn{
  color: rgb(179, 179, 179);
  background-color: transparent !important;
  border: none;
}
.copy-btn:focus{
  color: #194d45;
}
.nav-link-dashboard.active {
    background-color: #5d0e04;
    color: rgb(255, 255, 255);
    width: 100%;
}
.dashboard-section{
    height: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
.dashboard-section1{
    height: 100%;
}

.investment-card{
 color: #000000;
 text-decoration: none;
 border: 1px solid #e4e5e5;
 transition: color ease 0.3s , border, transform ease 0.3s ;
}
.investment-card:hover{
  color: #194d45;
  transform: scale(1.03);
  border: 1px solid #194d45;
}
.investment-card img{
    border-radius: 7px 7px 0 0;
    height: 9rem;
    object-fit: cover;
}
.investment-description{
  min-height: 80px;
}
.person-card img{
    border-radius: 0 7px 7px 0 ;

}

.delete-member-btn{
    font-size: 0.7rem;
    padding-right: 0.15rem;
    padding-left: 0.15rem;
    padding-top:  0.02rem;
    padding-bottom:  0.02rem;
    border-radius: 3px;
    margin-bottom: 0.2rem;

}
.investor-communication1{
  color: #143e37;
  transition: color ease 0.3s;
}
.investor-communication1:hover{
  color: #1b4740;
}

.investor-communication2{
  color: #E4b42d;
  transition: color ease 0.3s;
}
.investor-communication2:hover{
  color: #e2c472;
}

  .card-wallet {
    border-radius: 15px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  .wallet-header {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 30px;
  }
  .balance {
    text-align: center;
    font-size: 1.1rem;
    font-weight: 700;
    margin-bottom: 20px;
  }
  .balance span {
    color: #5d0e04;
  }
  
  .btn-action {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    font-weight: 600;
    margin-top: 15px;
  }


  .investment-list-container {
    max-height: 400px; /* Maximum height for scroll */
    overflow-y: auto; /* Enable vertical scrolling */
    margin-top: 20px;
  }
  .investment-card-wallet-wrapper {
    margin-bottom: 15px;
  }
  .investment-card-wallet {
    border: 1px solid #ddd;
    width: 20rem;
    border-radius: 10px;
    padding: 5px;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
  }
  .investment-card-wallet:hover {
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
  }
  .investment-card-wallet-title {
    font-weight: 600;
    font-size: 1.25rem;
    margin-bottom: 10px;
  }
  .investment-card-wallet-info {
    margin-bottom: 10px;
    font-size: 1rem;
  }
  .investment-card-wallet-status {
    font-weight: bold;
  }



  .fund-container {
    margin-top: 30px;
  }
  
  .fund-table th, .fund-table td {
    text-align: center;
  }
  
  .fund-row {
    cursor: pointer;
    transition: transform ease 0.3s;
  }
  .fund-row:hover{
    transform: scale(1.03);
  }
  
  #fund-details {
    padding: 20px;
    border-left: 2px solid #ddd;
    background-color: #f8f9fa;
  }
  
  .details-placeholder {
    font-size: 1.25rem;
    color: #888;
  }
  
  
  .modal-header .btn-close {
    font-size: 1.5rem;
  }
  
  @media (max-width: 768px) {
    .fund-container .row {
      flex-direction: column-reverse;
    }
  }
  
  /* profile css*/

  .container-wrapper-profile {
      padding: 1rem;
  }



  .btn-save {
      background-color: #0f2e29;
      color: white;
      border: none;
      transition: background-color 0.3s ease;
  }

  .btn-save:hover {
      background-color: #761305;
  }

  .btn-edit {
      background-color: #e4b42d;
      color: white;
      border: none;
      transition: background-color 0.3s ease;
  }

  .btn-edit:hover {
      background-color: #e67e22;
  }

  .profile-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      position: relative;
      }
  

  .profile-image {
      width: 100%;
      height: 100%;
      object-fit: cover;
  }

  .profile-info {
      font-size: 18px;
      font-weight: 500;
      color: #000000;
      width: 100%;
  }

  .form-group {
      margin-bottom: 20px;
      position: relative;
  }

  .form-control {
      background-color: #f9f9f9;
      border: 1px solid #ddd;
      border-radius: 8px;
      padding: 12px;
      font-size: 16px;
      width: 100%;
      transition: all 0.3s ease;
  }

  .form-control:focus {
      border-color: #e4b42d;
      box-shadow: 0 0 5px rgba(228, 180, 45, 0.5);
  }

  .form-control:disabled {
      background-color: #f7f7f7;
      border-color: #ddd;
  }

  .alert {
      margin-top: 20px;
      text-align: center;
  }

  .hidden {
      display: none;
  }

  .card-footer {
      text-align: center;
  }

  .edit-icon {
      border-radius: 0.5rem;
      background-color: #e4b42d;
      color: white;
      padding-top:0.5rem;
      padding-bottom:0.5rem;
      padding-left:0.6rem;
      padding-right:0.6rem;
      font-size: 1rem;
      cursor: pointer;
  }

  .edit-icon:hover {
      background-color: #e4b32d7e;
  }

  .check-icon {
      background-color: #0f2e29; 
      color: white;
      border-radius: 0.5rem;
      padding-top:0.5rem;
      padding-bottom:0.5rem;
      padding-left:0.6rem;
      padding-right:0.6rem;
      font-size: 1rem;
      cursor: pointer;
  }

  .check-icon:hover {
      background-color: #0f2e2984;
  }

/*pagination*/
.page-link{
  background-color: #f9f6ef;
  border: #761305 solid 1px;
  color: #761305;
  transition: color ease 0.3s , background-color ease 0.3s;
}

.page-link:hover{
  background-color: #761305;
  color: #f9f6ef;
}
.page-link:focus{
  box-shadow: 0 0 5px #76120596;
}