/* home css*/
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: Arial, sans-serif;
}
.navbar-toggler{
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    
}
nav{
    position: fixed;
    background: linear-gradient(to bottom, rgb(0, 0, 0), transparent); 
    transition: background-color 0.3s ease;
    color: rgb(255, 255, 255) !important; 
  
}
.navbar-brand{
    color: white;
}
.navbar-brand.scrolled{
    color: black;
}

.navbar-toggler{
    border: white 0.7px solid;
}
.navbar-toggler.scrolled{
    border: rgb(0, 0, 0) 0.7px solid;
}


#navbar-toggler-icon{
    color: white;
}
#navbar-toggler-icon.scrolled{
    color: black;
}

nav.scrolled {
    background:none;
    background-color: white; 
    color: black;
  }




main{
    min-height: 100vh;
}
  
.carousel-video {
    position: relative;
    height: 100%;
    
}

.carousel-video video {
    width: 100%;
    height: 100%;
    object-fit: cover;  
}

.carousel-caption {
    position: absolute;
    top: 30%;
    right: 0;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    text-align: center;
    width: 100%;
    z-index: 1;
}

@media (max-width: 768px) {
    .carousel-caption {
        top: 25%;  
        font-size: 14px;
        padding: 0 10px;
    }

    .carousel-video video {
        object-fit: contain;
        height: auto;  
    }
}

@media (max-width: 576px) {
    .carousel-caption h5 {
        font-size: 16px;
    }

    .carousel-caption p {
        font-size: 12px;
    }
} 
.section-title h2 {
    font-weight: bold;
    color: #761305;
  }
  
  .how-it-works-description h4 {
    color: #761305;
    font-size: 1.3rem;
  }
  
  .how-it-works-description p {
    color: #0f2e29;
    font-size: 1.1rem;
  }
  .card-cover{
    position: relative;
  }
  .step-number {
    position: absolute;
    background-color: #faf6ee;
    color: #0f2e29;
    font-size: 2.5rem;
    left: 5%;
    bottom: 60%;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    z-index: 10; 
    transition: transform 0.3s ease, background-color 0.3s ease; 
  }
  .step-card:hover .step-number {
    background-color: #E4b42d; /* Change the background color */
  }
  /* Step card styling */
  .step-card {
    position: relative;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    transition: transform 0.3s ease;
    overflow: hidden;
    margin-top: 40px; /* Adjust margin for positioning */
    background-color: white;
  }
  
  /* Hover effect for the step card */
  .step-card:hover {
    transform: translateY(-10px);
  }
  
  /* Hover effect for step number */
  .step-card:hover .step-number {
    background-color: #e4b42d;
  }
  
  /* Title and description styling */
  .step-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: #761305;
  }
  
  .step-description {
    color: #0f2e29;
    font-size: 1.1rem;
    margin-top: 15px;
  }
  
  /* Responsive styling */
  @media (max-width: 768px) {
    .step-number {
      font-size: 2rem;
      width: 60px;
      height: 60px;

    }
  
    .step-card {
      padding: 15px;
    }
  
    .step-title {
      font-size: 1.3rem;
    }
  
    .step-description {
      font-size: 1rem;
    }
  }
  
  @media (max-width: 576px) {
    .step-number {
      font-size: 1.8rem;
      width: 50px;
      height: 50px;

    }
  
    .step-card {
      padding: 10px;
    }
  
    .step-title {
      font-size: 1.2rem;
    }
  
    .step-description {
      font-size: 0.9rem;
    }
  }
  
  
  
  .featurs{
    background-color: #FAF6EE;
    
  }

  .featur-icon{
    color: #0f2e29;
  }
  .featurs-col-color{
    background-color: #0f2e29;
  }
  :root {
    --size: 300px;
  }
  
  .cube-container {
    display: grid;
    place-content: center;
    min-height: 80vh;
  }
  
  /* container */
  .container-cube {
    margin-top: 50px;
    perspective: 1000px;
    width: var(--size);
    height: var(--size);
  }
  
  .cube {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    animation: rotateCube 24s infinite; 
    transition: all 0.85s cubic-bezier(1, -0.75, 0.5, 1.2);
  }
  
  .face {
    position: absolute;
    border: 1px solid #0f2e29c6;
    box-shadow: inset 0 0 60px rgba(0, 0, 0, 0.243);
    width: var(--size);
    height: var(--size);
    line-height: var(--size);
    text-align: center;
    font-size: 1.25rem;
    background-color: #0f2e29;
    opacity: 0.95;
  }
  
  .front {
    transform: translateZ(150px);
  }
  
  .back {
    transform: rotateY(180deg) translateZ(150px);
  }
  
  .top {
    transform: rotateX(90deg) translateZ(150px);
  }
  
  .right {
    transform: rotateY(90deg) translateZ(150px);
  }
  
  .left {
    transform: rotateY(-90deg) translateZ(150px);
  }
  
  .bottom {
    transform: rotateX(-90deg) translateZ(150px);
  }
  
  @keyframes rotateCube {
    0% {
      transform: rotateY(0deg); /* Front face */
    }
    25% {
      transform: rotateY(90deg); /* Right face */
    }
    50% {
      transform: rotateY(180deg); /* Back face */
    }
    75% {
      transform: rotateY(270deg); /* Left face */
    }
    100% {
      transform: rotateY(360deg); /* Back to Front face */
    }
  }
 
  
 
  

  .contact-button {
    position: fixed;
    right: 2rem;
    bottom: 2rem;
    height: 4rem;
    width: 4rem;
    transform: scale(1);
    transition: transform ease-in 0.3s;
    background-color: #761305;
    border: none;
    z-index: 2;

}

.contact-button:hover {
    transform: scale(1.1);  
}
.contact-button-container{
    position: fixed;
    z-index: 2;
    right: 7rem;
    bottom: 1rem;
}
.contact-form{
    position: fixed;
    z-index:3;
    right: 2rem;
    bottom: 2rem;
    background-color: #FAF6EE;
    border: #E4b42d solid 1px;
}

.btn-darkgreen{
    background-color: #0f2e29;
    color: white;
}
.btn-darkgreen:hover{
    background-color: #194d45;
    color: white;
}

.form-control:focus {
    box-shadow: 0 0 0 0.20rem #1d574e67; 
    border-color: #22665ba9; 
}
.btn-close:focus {
    box-shadow: 0 0 0 0.20rem #1d574e67; 
    border-color: #22665ba9; 
}
.footer-link-text{
    color: #761305;
    text-decoration: none;
    transition: color 0.3s ease-in;
}
  .footer-link-text:hover {
    text-decoration: underline; 
  }


/*----- about css ------*/
/* Image with Dark Overlay */
.image-section {
    position: relative;
    height: 40vh;
    width: 100%;
    background-image: url("../images/money-2696229_1280.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
}



.dark-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 12, 0, 0.6);
    z-index: 1;
}

.section-title h2 {
    font-weight: bold;
    color: #761305;
}

.about-text h3 {
    font-weight: bold;
    color: #761305;
 }

.about-text p {
    font-size: 1.1rem;
    color: #0f2e29;
}

