{% extends 'main/base.html'%}
{%load static%}

{%block title%}<title>لوحة التحكم - الصندوق</title>{%endblock%}
{%block content%}
    
<section class="container bg-body-tertiary rounded-3 dashboard">
  <div class="row dashboard-row">
      <!-- Sidebar -->
      <div class="col-md-3 p-3 d-flex flex-column justify-content-between dashboard-side">
        <div>
          <h4 class=" mb-4 text-center ">مرحبا <span>{{leader.full_name}}</span></h4>
          <ul class="nav flex-column dashboard-links">
              <li class="nav-item">
                  <a class="nav-link-dashboard active" href="#" data-content="section1">الصندوق</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link-dashboard" href="#" data-content="section2">التصويت</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link-dashboard" href="#" data-content="section3">الأرباح</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link-dashboard" href="#" data-content="section4">الفرص الاستثمارية</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link-dashboard" href="#" data-content="section5">الافراد</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link-dashboard" href="#" data-content="section6">المحفظة</a>
              </li>
          </ul>
        </div>
        <div class="d-flex justify-content-center">
       
      
      {% if unique_code %}
      <button class="btn btn-darkgreen" data-bs-toggle="modal" data-bs-target="#codeModal">
        استعراض الرمز
      </button>
      {%else%}
      <form method="POST">
        {% csrf_token %}
        <button type="submit" name="new_code" class="btn btn-darkgreen">إنشاء كود</button>
    </form>
      {% endif %}

          <!-- Modal Structure -->
          <div class="modal fade" id="codeModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header border-white d-flex justify-content-between">
                  <h5 class="modal-title" id="exampleModalLabel">الرمز</h5>
                  <button type="button" class="btn-close m-0" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body ">
                  {% if unique_code %}
                <h2 class="text-center">{{ unique_code }}</h2>
                  {% endif %}
                </div>
                <div class="modal-footer border-white ">
                  <button type="button" class="btn btn-darkgreen w-100 " data-bs-dismiss="modal">تم</button>
                </div>
              </div>
            </div>
          </div>
          
        </div>
         
      </div>

      <!-- Content Area -->
      <div class="col-md-9 p-3">
          <div id="section1" class="dashboard-section">
            <div class="text-center dashboard-section1  d-flex flex-column justify-content-center align-items-center">
              <h3>لا يوجد صندوق حاليا</h3>
              <p class="text-muted">قم بانشاء الصندوق الان</p>
              <button class="btn btn-darkgreen">انشاء الصندوق</button>
            </div>
          </div>
          <div id="section2" class="dashboard-section" style="display: none;">
            <div class="row gap-3 justify-content-center align-items-center">
              <div  class="col-md-3 investment-card border p-0 rounded-3" >
                <img src="{%static 'images/building-66375_1280.jpg'%}" class="w-100"/>
                <div class="p-2">
                  <h5>اسم الاستثمار</h5>
                  <small>وصف الاستثمار</small>
                  <div class="d-flex gap-3 justify-content-center  mt-1 align-items-center">
                    <p> 5 <i class="fa-solid fa-thumbs-up"></i></p>
                    <p> <i class="fa-solid fa-thumbs-down"></i> 3 </p>
                </div>
                <div class=" border px-1 rounded-pill bg-success text-center">مقبول</div>
                  </div>
              </div>

              <div  class="col-md-3 investment-card border p-0 rounded-3" >
                <img src="{%static 'images/building-66375_1280.jpg'%}" class="w-100"/>
                <div class="p-2">
                  <h5>اسم الاستثمار</h5>
                  <small>وصف الاستثمار</small>
                  <div class="d-flex gap-3 justify-content-center  mt-1 align-items-center">
                    <p> 5 <i class="fa-solid fa-thumbs-up"></i></p>
                    <p> <i class="fa-solid fa-thumbs-down"></i> 3 </p>
                </div>
                <div class=" border px-1 rounded-pill bg-success text-center">مقبول</div>
                  </div>
              </div>

              <div  class="col-md-3 investment-card border p-0 rounded-3" >
                <img src="{%static 'images/building-66375_1280.jpg'%}" class="w-100"/>
                <div class="p-2">
                  <h5>اسم الاستثمار</h5>
                  <small>وصف الاستثمار</small>
                  <div class="d-flex gap-3 justify-content-center  mt-1 align-items-center">
                    <p> 5 <i class="fa-solid fa-thumbs-up"></i></p>
                    <p> <i class="fa-solid fa-thumbs-down"></i> 3 </p>
                </div>
                <div class=" border px-1 rounded-pill bg-success text-center">مقبول</div>
                  </div>
              </div>
            </div>
          </div>
          <div id="section3" class="dashboard-section" style="display: none;">
            <div class="row">
              <div class="col-md-6">
                <h5>اجمالي قيمة الاستثمار: SAR</h5>
                <h5>اجمالي الارباح : SAR</h5>
                <h5>حصص المسثمرين:  </h5>
                <ul>
                  <li> اسم الشخص : حصته</li>
                  <li> اسم الشخص : حصته</li>

                </ul>
              </div>
              <div class="col-md-6">chart</div>

            </div>
          </div>
          <div id="section4" class="dashboard-section" style="display: none;">
            <div class="d-flex align-items-end justify-content-end">
              <button class="btn btn-darkgreen">
                فرصة جديدة <i class="fa-solid fa-plus"></i>
              </button>
            </div>
            <div class="row">
              <div  class="col-md-3 investment-card border p-0 rounded-3" >
                <img src="{%static 'images/building-66375_1280.jpg'%}" class="w-100"/>
                <div class="p-2">
                  <h5>اسم الاستثمار</h5>
                  <small>وصف الاستثمار</small>
                  <div class="d-flex align-items-end justify-content-end">
                    <a class="btn btn-darkgreen p-0 px-1"><small> تفاصيل</small></a>
                  </div>
                  </div>
              </div>
            </div>
          </div>
          <div id="section5" class="dashboard-section" style="display: none;">
            <div class="row gap-2">
              <div  class="col-md-5 person-card d-flex border p-0 rounded-3" >
                <img src="{%static 'images/building-66375_1280.jpg'%}" style="height: 30px; width:80px; object-fit: cover;"  class="h-100"/>
                <div class="p-2 w-100 ">
                  <div class="d-flex justify-content-between  ">
                    <div class="d-flex flex-column">
                      <h6>العضو: </h6>
                    </div>
                      <a class="btn btn-darkred delete-member-btn" ><small><i class="fa-solid fa-user-xmark"></i></small></a>
                  </div>
                  </div>
              </div>
              <div  class="col-md-5 person-card d-flex border p-0 rounded-3" >
                <img src="{%static 'images/building-66375_1280.jpg'%}" style="height: 30px; width:80px; object-fit: cover;"  class="h-100"/>
                <div class="p-2 w-100 ">
                  <div class="d-flex justify-content-between  ">
                    <div class="d-flex flex-column">
                      <h6>العضو: </h6>
                    </div>
                      <a class="btn btn-darkred delete-member-btn" ><small><i class="fa-solid fa-user-xmark"></i></small></a>
                  </div>
                  </div>
              </div>
            </div>
          </div>
          <div id="section6" class="dashboard-section" style="display: none;">

            <div class="container p-0">
              <div class="row justify-content-center">
                 <!-- Wallet Card -->
                 <div class="col-md-12">
                  <div class="card-wallet">
                    <div class="wallet-header">
                      <h2>محفظة الصندوق</h2>
                    </div>
            
            
                    <!-- Wallet Balance -->
                    <div class="balance mt-4">
                      <p>إجمالي قيمة الصندوق <span>١,٢٣٤.٥٦ ر.س</span></p>
                    </div>
                  </div>
                </div>
                  <div class="col-md-12 mt-4">
                  <div class="container">
                    <h5>الاستثمارات المشارك فيها</h5>
                    
                    <!-- Filter and Search Controls -->
                    <div class="d-flex justify-content-between">
                      <div class="d-flex gap-1">
                        <button class="btn btn-darkgreen">تصفية</button>
                      <select class="form-select" aria-label="Default select example">
                        <option selected>menu</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                      </select>
                      </div>
                      
                      <div class="d-flex gap-1">
                        <input type="text" class="form-control"/>
                        <button class="btn btn-secondry"><i class="fa-solid fa-magnifying-glass"></i></button>
                      </div>
                    </div>
                     <!-- Horizontal Scroll for Opportunities -->
                     <div class="opportunities-section mt-4">
                      <h6>الفرص المستثمر فيها</h6>
                      <div class="d-flex overflow-auto gap-2">
                        <!-- Opportunity 1 -->
                        <div class="investment-card-wallet-wrapper">
                          <div class="investment-card-wallet">
                            <div class="investment-card-wallet-title">الاستثمار اسمه</div>
                            <div class="investment-card-wallet-info">
                              <div class="row">
                                <div class="col-md-6">
                                  <p>الشركة: <strong>اسمها</strong></p>
                                </div>
                                <div class="col-md-6">
                                  <p>المبلغ: <strong>١٠٠,٠ ر.س</strong></p>    
                                </div>
                              </div>
                              <p class="investment-card-wallet-status">الحالة: <span class="text-success">قيد التنفيذ</span></p>
                            </div>
                          </div>
                        </div>
                        <!-- Opportunity 1 -->
                        <div class="investment-card-wallet-wrapper">
                          <div class="investment-card-wallet">
                            <div class="investment-card-wallet-title">الاستثمار اسمه</div>
                            <div class="investment-card-wallet-info">
                              <div class="row">
                                <div class="col-md-6">
                                  <p>الشركة: <strong>اسمها</strong></p>
                                </div>
                                <div class="col-md-6">
                                  <p>المبلغ: <strong>١٠٠,٠ ر.س</strong></p>    
                                </div>
                              </div>
                              <p class="investment-card-wallet-status">الحالة: <span class="text-success">قيد التنفيذ</span></p>
                            </div>
                          </div>
                        </div>
                        

                        <!-- More Opportunities can be added here -->
                      </div>
                    </div>
                   
            
                   
                  </div>
                </div>
            
               
            
              </div>
            </div>


          </div>
      </div>
  </div>
</section>


  

  {%endblock%}
  {%block script%}
  <script>
    // Handle the section content change
    const navLinks = document.querySelectorAll('.nav-link-dashboard');
    const sections = document.querySelectorAll('.dashboard-section');

    // Set the default visible section
    const defaultSection = 'section1'; // This can be any section you want to show by default
    document.getElementById(defaultSection).style.display = 'block';
    document.querySelector(`.nav-link-dashboard[data-content="${defaultSection}"]`).classList.add('active');
    
    navLinks.forEach(link => {
        link.addEventListener('click', (e) => {
            e.preventDefault();

            // Remove the 'active' class from all nav links
            navLinks.forEach(link => link.classList.remove('active'));
            // Add 'active' class to the clicked link
            link.classList.add('active');

            // Hide all sections
            sections.forEach(section => {
                section.style.display = 'none';
            });

            // Show the content corresponding to the clicked section
            const sectionId = link.getAttribute('data-content');
            const activeSection = document.getElementById(sectionId);
            activeSection.style.display = 'block';
        });
    });
</script>
{%endblock%}