body {
    background-image: url("/static/images/Background.png");
    background-size: cover;
    font-family: "Noto Sans Arabic", sans-serif;
    
}

.invalid {
    color: red;
}

.valid {
    color: green;
}

#password-requirements {
    font-size: 12px;
    margin-top: 10px;
    list-style-type: none;
    padding: 0;
}

#password-requirements li {
    padding-left: 20px;
}

.btn-darkgreen {
    background-color: #0f2e29;
    color: white;
}

.btn-darkgreen:hover {
    opacity: 0.8;
}

.alert {
    margin-bottom: 20px;
}


.card {
    background: rgba(255, 255, 255, 0.8); 
    border-radius: 15px;
    padding: 20px;
}

.card h2 {
    color: #761305;
}
.input-wrapper {
    position: relative;
}


.input-wrapper .toggle-password {
    position: absolute;
    top: 50%;
    left: 10px; 
    transform: translateY(-50%);
    border: none;
    background-color: transparent;
    color: #761305;
    font-size: 18px;
    cursor: pointer;
}
.input-wrapper .toggle-password:hover {
    opacity: 0.7;
}

/* Custom styles */

  .flatpickr-months {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top:  0.5rem;
    padding-bottom:  0.5rem;

  }
  .flatpickr-monthDropdown-months{
    margin-top: -2px !important;
  }
  .flatpickr-days .flatpickr-day {
    color: #bf9625;
  }

  .flatpickr-days .flatpickr-day:hover {
    background-color: #761305;
    color: #ffffff;
  }

  .flatpickr-day.selected {
    background-color: #761305;
    border: none;
    color: #ffffff;
  }

  /* Specific styles for month and year selector */
  .flatpickr-prev-month, .flatpickr-next-month {
    padding-top: 1.3rem !important;
  }

  .flatpickr-months select {
    background-color: #0f2e29;
    color: #E4b42d;
    border: 1px solid #761305;
    border-radius: 5px;
  }

  .flatpickr-clear {
    background-color: #761305;
    color: #fff;
    border-radius: 5px;
  }