{% extends 'main/base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/accounts.css' %}">
{% endblock %}

{% block content %}
    <div class="container d-flex justify-content-center align-items-center min-vh-100">
        <div class="text-center p-4 shadow rounded" style="background-color: #f8f9fa;">
            <h2 class="mb-4" style="color: #761305;">تم إرسال بريد إعادة تعيين كلمة المرور</h2>
            <p style="font-size: 1.2rem; color: #333;">
                لقد تم إرسال بريد إلكتروني يحتوي على رابط لإعادة تعيين كلمة المرور الخاصة بك.
                الرجاء التحقق من بريدك الإلكتروني.
            </p>
        </div>
    </div>
{% endblock %}

